h1 {
  color: white;
  font-weight: 700;
}

p {
  color: white;
}

.footer_container {
  padding: 80px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.divider {
  background-color:  rgba(199, 199, 199, 0.349);
  height: 0.5px;
  opacity: 0.6;
}