.titleFont {
  font-family: 'Anton', sans-serif;
  font-weight: 700;
  margin: 0;
  color: #EA2027;
  letter-spacing: 2px
}

.navText {
  color: white;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.navText:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -7px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navText:hover:after {
  width: 100%;
  left: 0;
}

.nav {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.backGradient {
  background-image: url(./assets/gradientBg.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 1;
}

.landingPageBackground {
  background-image: url(./assets/BgImage.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 2;
}