.navText {
  color: white;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  margin: 0px 40px;
}

.navText:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -7px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navText:hover:after {
  width: 100%;
  left: 0;
}

.logo {
  height: 100px;
  width: 150px;
  margin: 0px 20px;
}

.nav {
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: center;
  transition-duration: 0.8s;
}

.navScrolledBgColor {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #EA2027;
  z-index: 20;
  height: 100px;
  display: flex;
  align-items: center;
  transition-duration: 0.8s;
}

.navScrolledBgColor>.nav {
  transform: scale(0.8);
}

.navUnScrolledBgColor {
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 20;
  height: 140px;
  display: flex;
  align-items: center;
  transition-duration: 0.8s;
}

.backGradient {
  background-image: url(./assets/gradientBg.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

.landingPageBackground {
  background-image: url(./assets/BgImage.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 2;
}

.descriptionText {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.slogan {
  font-size: 40px;
  color: white;
  font-weight: 800;
}

.orderButton {
  background-color: #EA2027;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

video:focus {
  outline: none;
}

video[poster] {
  filter: brightness(80%);
  object-fit: cover;
}

.secondPageBg {
  background-image: url(./assets/gradientBg.png);
  background-position: center;
  background-size: contain;
  min-height: 100vh;
}

.footer {
  background-image: url(./assets/gradientBg.png);
  background-size: cover;
  min-height: 30vh;
  width: 100%;
  z-index: 1;
}

.divider {
  border-top: 0.5px solid #1d1b2e;
}

.descriptionTextPadTop {
  height: 300px;
}

.videoStyle {
  margin: auto;
  padding-top: 10vh;
  cursor: pointer;
  width: 100%;
}

.videoAdjectives {
  /* width: 350px; */
  width: 100%;
}
/* xs */

@media (max-width: 576px) {
  .orderButton {
    background-color: #EA2027;
    color: white;
    padding: 15px 15px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
}
/* sm */

@media (max-width: 768px) {}

/* md */

@media (max-width: 992px) {
  .descriptionTextPadTop {
    height: 300px;
  }
}
/* lg */

@media (max-width: 1630px) {
  .landingPageBackground {
    background-image: url(./assets/BgImageTablet.png);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 2;
  }
  .descriptionText {
    padding-top: 300px;
    font-size: 45px;
  }
  .slogan {
    font-size: 60px;
  }
}
/* xl */

@media (min-width: 1200px) {}