/* ------nav section------ */

.navText {
  color: white;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  margin: 0px 40px;
}

.navText:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -7px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navText:hover:after {
  width: 100%;
  left: 0;
}

.nav {
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: center;
  transition-duration: 0.8s;
  padding: 40px;
}

.navScrolledBgColor {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #EA2027;
  z-index: 20;
  height: 100px;
  display: flex;
  align-items: center;
  transition-duration: 0.8s;
}

.navScrolledBgColor>.nav {
  transform: scale(0.8);
  padding: 0px;
}

.navUnScrolledBgColor {
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 20;
  height: 140px;
  display: flex;
  align-items: center;
  transition-duration: 0.8s;
}

/* -------mobile navabar------- */

.navMobile {
  position: fixed;
  z-index: 25;
  transition: 0.5s ease-in-out;
  padding: 20px;
}

.navMobileScrolled {
  position: fixed;
  background-color: #EA2027;
  z-index: 25;
  transition: 0.5s ease-in-out;
  padding: 20px;
}

.menubtn {
  float: right;
}

.logoMobile {
  width: 100%;
}

.dropDown {
  overflow: hidden;
  background-color: #EA2027;
  transform: translateY(-600px);
  position: fixed;
  transition: 0.4s ease-in;
  z-index: 20;
}

.dropedDown {
  padding-top: 117px;
  transform: translateY(0px);
  position: fixed;
  transition: 0.4s ease-out;
  background-color: #EA2027;
  z-index: 20;
}

.dropDownTexts {
  padding: 15px;
  font-size: 20px;
}

/* -------first landing page------- */

.landingPageBackground {
  background-image: url(./assets/BgImage.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.headline {
  font-size: 30px;
  font-weight: 600;
  color: white;
  max-width: 700px;
}

.slogan {
  font-size: 40px;
  color: white;
  font-weight: 800;
}

.orderButton {
  background-color: #EA2027;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

/* -------second landing page------- */

.secondPageBg {
  background-image: url(./assets/gradientBg.png);
  background-position: center;
  background-size: contain;
  min-height: 100vh;
}

video:focus {
  outline: none;
}

video[poster] {
  filter: brightness(80%);
  object-fit: cover;
}

.videoStyle {
  margin: auto;
  padding-top: 10vh;
  cursor: pointer;
  width: 100%;
}

.videoAdjectives {
  /* width: 350px; */
  width: 100%;
}

.videoAdjectivesContainer {
  padding-top: 100px;
}

/* -------footer------- */

.footer {
  background-image: url(./assets/gradientBg.png);
  background-size: cover;
  min-height: 30vh;
  width: 100%;
  z-index: 1;
}

.ourInfo {
  padding-left: 250px;
}

.ourLinks {}

.logoFooter {
  max-width: 150px;
}

.footerTitles {
  font-size: 1.75rem;
  font-weight: 600;
}

.footerText {
  font-size: 14px;
}




/*--------contact---------*/
.contactBg {
  background-image: url(./assets/gradientBg.png);
  background-position: center;
  background-size: contain;
  min-height: 100vh;
}





/* -------Other------- */

.divider {
  border-top: 0.5px solid #1d1b2e;
}

.descriptionTextPadTop {
  height: 300px;
}

.logo {
  width: 150px;
  margin: 0px 20px;
}

/* --------media queries-------- */

/* xs */

@media (max-width: 575.99px) {
  .headline {
    font-size: 20px;
    padding-top: 20vh;
  }
  .landingPageBackground {
    background-image: url(./assets/BgImageMobile.png);
  }
  .slogan {
    font-size: 30px;
  }
  .orderButton {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
  }
  .dropedDown {
    padding-top: 93px;
    transform: translateY(0px);
    position: fixed;
    transition: 0.4s ease-out;
    background-color: #EA2027;
    z-index: 20;
  }
  .videoAdjectivesContainer {
    padding-top: 50px;
  }
  .ourInfo {
    padding-left: 50px;
  }
  .logoFooter {
    max-width: 100px;
  }
  .footerTitles {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .footerTitles>p {
    font-size: 10px;
  }
  .footerText {
    font-size: 12px;
  }
  .ourLinks {
    width: inherit;
  }
}

/* sm */

@media (min-width: 576px) {
  .headline {
    font-size: 27px;
    padding-top: 12vh;
  }
  .landingPageBackground {
    background-image: url(./assets/BgImageMobile.png);
  }
}

/* md */

@media (min-width: 768px) {
  .landingPageBackground {
    background-image: url(./assets/BgImageMobile.png);
  }
  .headline {
    padding-top: 18vh;
    font-size: 45px;
  }
  .orderButton {
    padding: 25px 35px;
    font-size: 30px;
    border-radius: 5px;
  }
}

/* lg */

@media (min-width: 992px) {
  .landingPageBackground {
    background-image: url(./assets/BgImageTablet.png);
  }
  .slogan {
    font-size: 60px;
  }
  .orderButton {
    padding: 30px 40px;
    font-size: 35px;
    border-radius: 10px;
  }
  .headline {
    padding-top: 25vh;
    font-size: 45px;
  }
  .navText {
    font-size: 1.3rem;
  }
}

/* xl */

@media (min-width: 1200px) {
  .headline {
    font-size: 45px;
    padding-top: 14vh;
  }
  .landingPageBackground {
    background-image: url(./assets/BgImage.png);
  }
  .orderButton {
    padding: 20px 40px;
    font-size: 26px;
    border-radius: 5px;
  }
}